# Setup
domain: 'parkerhiggins.net'
url: 'https://parkerhiggins.net'
baseurl: ''
title: 'parker higgins dot net'
description: 'parker higgins is an artist and activist in brooklyn, new york'

include: ['.well-known']

timezone: America/New_York

lsi: false

paginate: 10
paginate_path: '/blog/page:num/'
permalink: '/:year/:month/:title/'

navbar:
  - title: projects
    path: /projects
  - title: blog
    path: /blog
  - title: bluesky
    path: https://bsky.app/profile/xor.blue
  - title: mastodon
    path: https://tech.intersects.art/@xor 

feed:
  tags:
    path: "/tag/"
    disable_in_development: true

collections:
  projects:
    output: false
  project-pages:
    output: true
    permalink: /projects/:name

author:
  name: Parker Higgins

twitter:
  username: "@xor"
  card: summary_large_image

defaults:
  - scope:
      path: ""
    values:
      image: /assets/images/default.jpg # magic filename, referenced in _layouts/post
      author: Parker Higgins

# Gems
plugins:
  - jekyll-gist
  - jekyll-paginate
  - jekyll-seo-tag
  - jekyll-feed

# Optimize Jekyll
exclude:
  - .editorconfig
  - .git
  - .jekyll-cache
  - Gemfile
  - Gemfile.lock
  - LICENSE.md
  - README.md

sass:
  sass_dir: _sass
  style: :compressed

# Options

# Replace this value and uncomment to enable Google Analytics tracking
# ga_analytics: UA-000000-0

# Specify the author for blog posts
author:
  name: Parker Higgins

# Custom vars
version: 3.0.0
