<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>
    {% if page.title == "parker higgins dot net" %}
      {{ site.title }}{% if site.tagline %}{% endif %}
    {% else %}
      {{ page.title }} &middot; {{ site.title }}
    {% endif %}
  </title>

  <link rel="stylesheet" href="{{ 'styles.css' | relative_url }}">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ '/assets/apple-touch-icon.png' | relative_url }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ '/assets/favicon-32x32.png' | relative_url }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ '/assets/favicon-16x16.png' | relative_url">
  <link rel="mask-icon" href="{{ '/assets/safari-pinned-tab.svg' | relative_url }}" color="#5bbad5">
  <link rel="shortcut icon" href="{{ '/assets/favicon.ico' | relative_url }}">
  <link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="{{ 'feed.xml' | relative_url }}">

  {% if page.lightbox %}
  <link rel="stylesheet" href="{{ 'assets/css/glightbox.css' | relative_url}}">
  <script src="{{ '/assets/js/glightbox.min.js' | relative_url }}">{% endif %}

  {% seo title=false %}
</head>
